[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "==12.6.1"
requests = "*"
pillow = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.11"
